{% extends "modal.html" %}
{% load i18n bootstrap %}

{% block title %}
    {{ member.fullname }}
    {% if member.scout_name %}v/o {{ member.scout_name}}{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'member_edit' m_id=member.id %}" method="post" enctype="multipart/form-data" class="member-form">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            {{ form.scout_name|bootstrap }}
            {{ form.first_name|bootstrap }}
            {{ form.last_name|bootstrap }}
            {{ form.gender|bootstrap }}
            {{ form.birthday|bootstrap }}
        </div>
        <div class="col-md-6">
            {{ form.portrait|bootstrap }}
            {{ form.email|bootstrap }}
            {{ form.mobile|bootstrap }}
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="modal-footer">
  <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
</div>
</form>
{% endblock %}