{% extends "base.html" %}
{% load i18n mptt_tags %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/members.js"></script>
  <script src="{{ STATIC_URL }}js/member-form.js"></script>
{% endblock %}

{% block content %}
<div id="member-view" class="row">
  <div id="sidebar" class="col-md-3">
    <div class="well well-small">
      <h3>{% trans "Departments" %}</h3>
      <div id="department-tree" class="space scrollbox"></div>

      <h3>{% trans "Roles" %}</h3>
      <select id="roles-filter" class="form-control" data-placeholder="{% trans 'All' %}" multiple>
        {% for role in roles %}
          <option value="{{ role.id }}">{{ role }}</option>
        {% endfor %}
      </select>
      <div class="space"></div>
      <div class="status-filter btn-group full" data-toggle="buttons">
        <label class="btn btn-default btn-sm active half">
          <input type="checkbox" name="active" checked>
          {% trans "Active" %}
        </label>
        <label class="btn btn-default btn-sm half">
          <input type="checkbox" name="inactive">
          {% trans "Inactive" %}
        </label>
      </div>
      <div class="space"></div>
      <h3>{% trans "Education" %}</h3>
      <select id="education-filter" class="form-control" data-placeholder="{% trans 'All' %}" multiple>
        {% for education in educations %}
          <option value="{{ education.id }}">{{ education }}</option>
        {% endfor %}
      </select>
    </div>
  </div> <!-- sidebar -->

  <div id="member-list" class="col-md-9">
      <!-- top buttons -->
      <div class="row space">
        <div class="col-md-4">
            <input type="search" class="search form-control" placeholder="{% trans 'search' %}" />
        </div>
        <div class="col-md-2 col-md-offset-1 ">
          <div class="gender-filter btn-group full" data-toggle="buttons">
            <label class="btn btn-default half">
              <input type="checkbox" name="m">
              <i class="icon-male"></i>
            </label>
            <label class="btn btn-default half">
              <input type="checkbox" name="f">
              <i class="icon-female"></i>
            </label>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-3">
            <button class="btn btn-success pull-right member-add">
              <i class="icon-plus-sign"></i>
              {% trans "New" %}
            </button>
        </div>
      </div>

      <!-- member table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="sort" data-sort="scout_name">{% trans 'scout name' %}</th>
            <th class="sort" data-sort="first_name">{% trans 'first name' %}</th>
            <th class="sort" data-sort="last_name">{% trans 'last name' %}</th>
            <th class="sort" data-sort="roles_display">{% trans 'Role' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="list">
          <tr>
              <td class="id hidden"></td>
              <td class="scout_name"></td>
              <td class="first_name"></td>
              <td class="last_name"></td>
              <td class="roles_display"></td>
              <td class="edit-buttons">
                <button class="btn btn-xs btn-info member-detail">
                  <i class="icon-eye-open"></i>
                </button>
                <button class="btn btn-xs btn-primary member-edit">
                  <i class="icon-pencil"></i>
                </button>

              </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}