{% extends "base_sidebar.html" %}
{% load i18n mptt_tags %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/members.js"></script>
{% endblock %}

{% block sidebar %}
  <div class="well well-small">
    <h3>{% trans "Departments" %}</h3>
    <div id="department_tree" class="space scrollbox">
      <ul>
      {% recursetree departments %}
        <li id="{{ node.id }}">
          <a href="?d={{ node.id }}">
            <i class="icon-group"></i>
            {{ node.name }}
          </a>
          {% if not node.is_leaf_node %}
            <ul>
              {{ children }}
            </ul>
          {% endif %}
        </li>
      {% endrecursetree %}
      </ul>
    </div>

    <div class="clearfix space">
        <span>{% trans "Deep selector" %}</span>
        <div  id="checkselector"  class="make-switch switch-mini pull-right">
          <input type="checkbox" />
        </div>
    </div>

    <h3>
      <a href="#" data-toggle="collapse" data-target="#roles">
        {% trans "Roles" %}
      </a>
    </h3>
    <div id="roles" class="form-inline collapse">
      <select id="roles-filter" name="roles" class="form-control space" multiple>
        {% for role in roles %}
          <option value="{{ role.id }}">{{ role }}</option>
        {% endfor %}
      </select>

      <div class="status-filter btn-group full" data-toggle="buttons">
        <label class="btn btn-default active half">
          <input type="checkbox" name="active" checked>
          {% trans "Active" %}
        </label>
        <label class="btn btn-default half">
          <input type="checkbox" name="inactive">
          {% trans "Inactive" %}
        </label>
      </div>
    </div>

  </div>
{% endblock %}


{% block content %}
  <div id="member-list">
      <div class="row space">
        <div class="col-md-4">
            <input type="search" class="search form-control" placeholder="{% trans 'search' %}" />
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="gender-filter btn-group full" data-toggle="buttons">
            <label class="btn btn-default half">
              <input type="checkbox" name="m">
              {% trans "Male" %}
            </label>
            <label class="btn btn-default half">
              <input type="checkbox" name="f">
              {% trans "Female" %}
            </label>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="sort" data-sort="scout_name">{% trans 'scout name' %}</th>
            <th class="sort" data-sort="first_name">{% trans 'first name' %}</th>
            <th class="sort" data-sort="last_name">{% trans 'last name' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="list">
          <tr>
              <td class="id hidden"></td>
              <td class="scout_name"></td>
              <td class="first_name"></td>
              <td class="last_name"></td>
              <td><button class="btn">
                <i class="icon-pencil"></i>
                Edit
              </td>
          </tr>
        </tbody>
      </table>

      <div id="members"></div>


      <div id="empty-msg" class="alert">
        {% trans "Empty department." %}
      </div>
  </div>
{% endblock %}