
/* helper classes */

.clear { clear:both; }
.hidden { display:none; }
.space { margin-bottom: 10px;}
.scrollbox { overflow: auto; }

/* main styles */

body {
    padding-top: 60px;
}

h1, h2, h3 {
    font-family: Roboto Slab;
}

h3 {
    font-size: 16px;
    line-height: 16px;
}


h1 a, h2 a, h3 a {
    color: #333333;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}

.sort {
    position: relative;
}

.sort.asc:before {
    content: "▲";
    position:absolute;
    right: 5px;
}

.sort.desc:before {
    content: "▼";
    position:absolute;
    right: 5px;
}

/*
body {
    padding-top: 60px;
}
*/

/* design stuff */

.logo-small {
    background-image: url('../img/logo-small.png');
    width: 25px;
    height: 30px;
    margin-right: 5px;
    float: left;
    display: block;
}

.jstree-apple,
.jstree-apple > ul {
    background: none !important;
}

/* bootstrap theming */

@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0 5px;
    }
}

.navbar {
    min-height: 40px;
}

.navbar .navbar-brand {
    padding: 5px 20px 5px 0px;
    margin-left: 0;
    line-height: 30px;
    font-family: Arvo;
    font-weight: bold;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}


